<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/stylelinks :: stylelinks"></div>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>
        <h2>Users in CodeFellowship</h2>
        <p>Checkout their profiles and click Follow!</p>
        <!-- all the users that exist in CodeFellowship that user hasn't followed yet -->
        <div class="aboutuser" th:each="user : ${users}">
            <h2><a th:href="${'/user/' + user.id}">[[${user.username}]]</a></h2>
            <p>[[${user.bio}]]</p>
            <!-- allow signed in user to follow another user -->
            <form action="/follow" method="post"> <!-- th:if="${shouldShowFollow}" -->
                <input type="hidden" name="followUser" th:value="${user.id}">
                <input class="button" type="submit" value="Follow Me!" />
            </form>
        </div>
    </div>
</body>
</html>