<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/stylelinks :: stylelinks"></div>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>

        <h1>Posts from Your Community</h1>
        <th:block  th:each="user: ${peopleIfollowList}">
            <p class="userIfollow-usrname" th:text="${user.username}"></p>
            <th:block th:each="post: ${user.posts}">
                <p id="timestamp" th:text="${post.timeStamp}"></p>
                <p th:text="${post.body}"></p>

            </th:block>
        </th:block>
    </div>
</body>
</html>