<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Sign Up for CodeFellowship!</h1>
        <form action="/signup" method="POST">
            <input name="username">UserName
            <input name="password" type="password">Password
            <input type="text" name="firstname">First Name
            <input type="text" name="lastname">Last Name
            <input name="dateofbirth">Date of Birth
            <input type="text" name="bio">Bio <!-- Change this to block of text -->
            <input type="submit" />
        </form>
    </div>

</body>
</html>