<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <div th:replace="fragments/stylelinks :: stylelinks"></div>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>
        <h1>Welcome to [[${viewedUser.firstname}]] [[${viewedUser.lastname}]]'s profile</h1>
        <p>About Me: [[${viewedUser.bio}]]</p>
        <h2>My Recent Posts</h2>
        <ul>
            <li th:each="post : ${viewedUser.posts}" th:text="${post}"></li>
        </ul>
    </div>
</body>
</html>